* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color:white;
}

body {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin: 30px;

}

h1 {
    font-size: 50px;
    font-style: italic;
}

#board {
    padding-top: 30px;
    display:flex;
    width: 450px; 
    flex-wrap: wrap; 
    font-size: 70px;
    font-weight:bold;
}

button {
   margin: 20px;
   padding: 8px;
   border: 3px solid white;
   color: white;

}

.cell {
    height: 150px; 
    width: 150px; 
    /* border: 2px solid black; */
    display:flex; 
    justify-content: center;
    align-items: center;
}
.cell:nth-child(3n+2) {
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.cell:nth-child(n+4):nth-child(-n+6){
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}
#playText {
    /* margin:10px; */
    padding-top:10px;
}
